.tech-container {
  padding-top: 2vh;
  padding-left: 0vw;
  margin-left: 2vw;
  max-width: 40vw;
}

.tech-title {

}

.tech-item {
  display: inline-block;
  padding-right: 1.5vw;
  padding-bottom: 1vh;
}

.tech-item::before {
  content: "•";
  padding-right: 0.5vw;
}