.tech-container {
  max-width: 36vmax;
  padding: 2vh 2vw;
  padding-top: 1vh;
  padding-left: 0vw;
  padding-right: 0vw;
  margin-left: 2vw;
  margin-right: 34vw;
  font-size: 1.1vw;
  border-bottom: 2px solid lightgray;
}

.tech-title {

}

.tech-item {
  display: inline-block;
  padding-right: 1.5vw;
  padding-bottom: 1vh;
}

.tech-item::before {
  content: "•";
  padding-right: 0.5vw;
}