.temp {
  text-align: center;
}

.code-container {
  display: grid;
  grid-template-columns: 1fr 65vmax 1fr;
}

.left-column {
  border-right: 1px hidden black;
  background-image: linear-gradient(#DAE0E6, #afafaf);
}

.center-column {
  background-color: rgb(238, 238, 238);
  display: inline-block;
  flex-wrap: wrap;

}

.right-column {
  border-left: 1px hidden black;
  background-image: linear-gradient(#DAE0E6, #afafaf);
}

.project-container {
  max-width: 36vw;
  padding: 2vh 2vw;
  padding-top: 1vh;
  padding-left: 0vw;
  padding-right: 0vw;
  margin-left: 2vw;
  margin-right: 34vw;
  font-size: 16.9px;
  border-bottom: 2px solid lightgray;
}

.project-paragraph {
  margin: 0vh;
}

.img {
  float: right;
  margin-right: 1vw;
  max-width: 29vw;
  height: auto;
  box-shadow: 0px 0px .75vw rgb(129, 128, 128);
}

.geAPI {
  box-shadow: none;
}

.next-steps {
  margin: .5vh;
}

.tech-logo-container {
  position: relative;
  bottom: 2vh;
  float: right;
  width: 27vw;
  padding: 1vw;
}

.img-row {
  max-width: 5.5vw;
  height: auto;
}

.odd {
  padding-left: 1vw;
  padding-right: 1vw;
}

.even-first {
  padding-left: 4vw;
  padding-right: 1vw;
}
.even-second {
  padding-left: 1vw;
  padding-right: 4vw;
}

.mongo {
  position: relative;
  bottom: 0.5vh;
  max-width: 9vw;
}

.react {
  position: relative;
  bottom: 1vh;
  max-width: 9vw;
}