.temp {
  text-align: center;
}

.code-container {
  display: grid;
  grid-template-columns: 1fr 65vmax 1fr;
}

.left-column {
  border-right: 1px hidden black;
  background-image: linear-gradient(#DAE0E6, #afafaf);
}

.center-column {
  background-color: rgb(238, 238, 238);
  display: inline-block;
  flex-wrap: wrap;

}

.right-column {
  border-left: 1px hidden black;
  background-image: linear-gradient(#DAE0E6, #afafaf);
}

.code-entry-container {
  max-width: 36vmax;
  padding: 2vmin 2vmax;
  padding-top: 1vh;
  padding-left: 0vmax;
  padding-right: 0vw;
  margin-left: 2vmax;
  margin-right: 34vw;
  font-size: 1.1vw;
  border-bottom: 2px solid lightgray;
}