.footer-container {
  display: grid;
  grid-template-rows: 8% 1fr;
  border-top: 1px none;
  color: white;
  font-weight: lighter;
  font-size: 1.8vh;
}

.footer-border {
  background-image: linear-gradient(#afafaf, rgb(41, 39, 39));
}

.footer-content {
  background-color: rgb(41, 39, 39);
}

.footer-title {
  position: relative;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 1vh;
}

.footer-logo {
  float: right;
  width: 7vw;
  position: relative;
  top: .5vh;
  right: 2vw;
  padding-bottom: 0vh;
}

.footer-techs {
  padding-top: 2vh;
  padding-left: 4vw;
}

.version {
  padding-left: 4vw;
}