.temp {
  text-align: center;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 60vmax 1fr;
  background-image: linear-gradient(#DAE0E6, #afafaf);
}

.left-column {
  border-right: 1px hidden black;
}

.center-column {
  background-color: rgb(238, 238, 238);
  display: inline-block;
  flex-wrap: wrap;
}

.right-column {
  border-left: 1px hidden black
}

.title1 {
  font-weight: bolder;
}

.top-paragraph {
  max-width: 38vmax;
  padding-left: 2vmax;
}

.fricken {
  background-image: url('../images/fricken.jpg');
  height: auto;
  max-width: 18vmax;
  float: right;
  padding: 0px;
  border: 1px solid rgb(133, 124, 124);
  box-shadow: -2px 2px 5px rgb(175, 174, 174);
}