.home-container {
  display: grid;
  grid-template-columns: 1fr 65vw 1fr;
}

.left-column {
  border-right: 1px hidden black;
  background-image: linear-gradient(#DAE0E6, #afafaf);
}

.center-column {
  background-color: rgb(238, 238, 238);
  display: inline-block;
  flex-wrap: wrap;
}

.right-column {
  border-left: 1px hidden black;
  background-image: linear-gradient(#DAE0E6, #afafaf);
}

.top-paragraph {
  width: 36vw;
  padding: 2vh 2vw;
  padding-top: 1vh;
  padding-left: 0vw;
  margin-left: 2vw;
  font-size: 17px;
  border-bottom: 2px solid lightgray;
}

.recent-container {
  width: 36vw;
  padding: 2vh 2vw;
  padding-left: 0vw;
  margin-left: 2vw;
  font-size: 14px;
  border-bottom: 2px solid lightgray;
}

.fricken {
  /* background-image: url('../images/Under-Construction.png'); */
  height: auto;
  max-width: 25vw;
  max-height: 50vh;
  float: right;
  padding: 0px;
  margin: 2vh;
  /* border: 1.5px solid rgb(133, 124, 124); */
  /* box-shadow: 0px 0px 20px rgb(129, 128, 128); */
}

.li {
  font-size: 17px;
}