.construction {
  max-width: 20vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left-column {
  border-right: 1px hidden black;
  background-image: linear-gradient(#DAE0E6, #afafaf);
}

.center-column-photo {
  background-color: rgb(238, 238, 238);
  display: inline-block;
  flex-wrap: wrap;
  padding: 3.9vh;
}

.right-column {
  border-left: 1px hidden black;
  background-image: linear-gradient(#DAE0E6, #afafaf);
}

.photo-container {
  display: grid;
  grid-template-columns: 1fr 65vw 1fr;
  min-height: 60vh;
}

.photo-heading {
  /* padding: 3.2vh; */
  /* padding-top: 2vh; */
}

.heading-photo {
  width: 60vw;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473), -2px 2px 10px rgba(0, 0, 0, 0.473);
}

.heading-title {
  padding: 0;
  text-decoration: underline;
  margin-bottom: 1vh;
}

.heading-paragraph {
  padding: 0;
  margin-top: 1vh;
}

.selected-photos {
  max-width: 60vw;
}

table {
  padding-bottom: 5vh;
}

.milky-way-photo {
  width: 35vw;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473), -2px 2px 10px rgba(0, 0, 0, 0.473);
}

.p {
  margin-bottom: 1em;
  padding-left: 0.75em;
}

.pInfo {
  margin-bottom: 1em;
  padding-left: 0.75em;
  font-size: 14px;
}

.fighting-fox {
  width: 40vw;
  margin-left: 0.75em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473), -2px 2px 10px rgba(0, 0, 0, 0.473);
}

.juno-colored {
  width: 40vw;
  margin-left: 0.75em;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473), -2px 2px 10px rgba(0, 0, 0, 0.473);
}

.carousel-img {
  max-width: 20vw;
  max-height: 20vh;
}