.temp {
  text-align: center;
}

.total-container {
  display: grid;
  grid-template-rows: 25% 75%;
  min-height: 100vmin;
}

.banner-container {
  background-image: url('./images/Eyes_of_Juno.jpg');
  background-position: 50% 47%;
}
