.total-container {
  display: grid;
  grid-template-rows: 25vh 1fr 4vh;
  /* font-family: Consolas; */
  font-weight: normal;
}

.banner-container {
  background-image: url('./images/Eyes_of_Juno.jpg');
  background-position: 50% 48%;
  background-size: cover;
}

.link-container {
  position: absolute;
  top: 20vh;
  padding: 0.4vh 0vw;
  padding-left: 2vw;
  background-color: rgba(19, 6, 207, 0.548);
  box-shadow: 1px 1px 2vh rgba(26, 11, 236, 0.541);
}

.link {
  font-family: Consolas;
  color: white;
  text-decoration: none;
  margin: 15px;
  font-size: 1.2vw;
  transition: text-shadow 1s, font-weight 1s;
}

.link:hover {
  text-shadow: 0px 0px 2vh white;
  font-weight: 700;
}

h1{
  font-weight: bolder;
  padding: 0vw 2vw;
  padding-left: 0vw;
  margin-left: 2vw;
  margin-bottom: 0vh;
  margin-top: 2vh;
  font-size: 2.3vw;
  width: 36vw;
}

h3 {
  margin-top: 0vh;
  margin-bottom: 1vh;
}

h4 {
  margin-top: 0vh;
  margin-bottom: 1vh;
}

.top-paragraph {
  width: 36vw;
  padding: 2vw 2vw;
  padding-top: 1vh;
  padding-left: 0vw;
  margin-left: 2vw;
  font-size: 1.1vw;
  border-bottom: 2px solid lightgray;
}

.logo {
  position: relative;
  left: 71vw;
  top: -2vh;
  max-width: 10vw;
  height: auto;
  opacity: 0.45;
  padding-top: 1vh;
}