.total-container {
  display: grid;
  grid-template-rows: 25vh 75vh;
  min-height: 100vh;
  font-family: Consolas;
}

.banner-container {
  background-image: url('./images/Eyes_of_Juno.jpg');
  background-position: 50% 48%;
  background-size: cover;
}

.link-container {
  position: absolute;
  top: 20vmin;
  padding-left: 2vmax;
}

.link {
  font-family: Consolas;
  color: white;
  text-decoration: none;
  margin: 15px;
  font-size: 1.2vw;
}

h1{
  font-weight: bolder;
  padding: 0vmin 2vmax;
  padding-left: 0vmax;
  margin-left: 2vmax;
  margin-bottom: 0vh;
  margin-top: 2vh;
  font-size: 2.3vw;
  width: 36vmax;
}

h3 {
  margin-top: 0vh;
  margin-bottom: 1vh;
}

h4 {
  margin-top: 0vh;
  margin-bottom: 1vh;
}

.top-paragraph {
  width: 36vmax;
  padding: 2vmin 2vmax;
  padding-top: 1vh;
  padding-left: 0vmax;
  margin-left: 2vmax;
  font-size: 1.1vw;
  border-bottom: 2px solid lightgray;
}

.logo {
  position: relative;
  left: 71vw;
  top: -2vh;
  max-width: 10vw;
  height: auto;
  opacity: 0.45;
  padding-top: 1vh;
}